<nav class="bg-white shadow-lg p-4 fixed top-0 left-0 w-full z-50 transition-all duration-300 ease-in-out">
    <div class="max-w-6xl mx-auto flex justify-between items-center">
        
        <!-- Gambar Icon -->
        <img src="assets/icons/icons.png" alt="Icon" class="w-16 h-16 mr-2 object-contain"> 
        
        <!-- Menu -->
        <ul class="flex space-x-6">
            <li>
                <a href="index.html" title="Go to Home" class="text-gray-600 hover:text-indigo-600 transition-all duration-200 text-lg font-medium flex flex-col items-center">
                    <i class="fas fa-home text-2xl"></i>
                    <span class="text-sm hidden group-hover:block">Home</span>
                </a>
            </li>
            <li>
                <a href="about.html" title="Learn more About Us" class="text-gray-600 hover:text-indigo-600 transition-all duration-200 text-lg font-medium flex flex-col items-center">
                    <i class="fas fa-info-circle text-2xl"></i>
                    <span class="text-sm hidden group-hover:block">About</span>
                </a>
            </li>
            <li>
                <a href="contact.html" title="Get in Touch" class="text-gray-600 hover:text-indigo-600 transition-all duration-200 text-lg font-medium flex flex-col items-center">
                    <i class="fas fa-envelope text-2xl"></i>
                    <span class="text-sm hidden group-hover:block">Contact</span>
                </a>
            </li>
            <li>
                <a href="discography.html" title="Discography" class="text-gray-600 hover:text-indigo-600 transition-all duration-200 text-lg font-medium flex flex-col items-centerr">
                    <i class="fas fa-music text-2xl"></i>
                    <span class="text-sm hidden group-hover:block">Discography</span>
                </a>
            </li>
        </ul>
    </div>
</nav>